.container{
    width: 100%;
    background-color: #0F3D2E;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;

    img{
        width: 70px;
        height: 60px;
    }
    .title{
        border-bottom: yellow 1px solid;
        padding-left: 10px;
        padding-right: 10px;
    }
    p{
        padding-top: 10px;
    }

}