<div class="container">
    <h2>Write Your Dua</h2>

    <div class="input-group">
        <textarea #inputText placeholder="Type your dua here..." [(ngModel)]="text">{{text}}</textarea>
    </div>

    <span class="example-text">Example: “Oh Allah, grant me success in…”</span>

    <button (click)="submitDua(inputText.value)" [disabled]="duaService.loading()">
        {{ duaService.loading() ? 'Generating...' : 'Bespoke My Dua' }}
    </button>

    @if (duaService.error()) {
        <p class="error">Error communicating with API</p>
    }
</div>